attrs==22.1.0
autopep8==1.7.1
contourpy==1.0.5
cycler==0.11.0
fastjsonschema==2.16.2
fonttools==4.38.0
jsonschema==4.17.3
jupyter_core==5.1.0
kiwisolver==1.4.4
matplotlib==3.6.1
nbformat==5.7.0
numpy==1.23.4
OpenTimelineIO==0.15.0
packaging==21.3
Pillow==9.2.0
platformdirs==2.6.0
pyaaf2==1.6.0
pycodestyle==2.9.1
pyparsing==3.0.9
pyrsistent==0.19.2
python-dateutil==2.8.2
pywin32==305
scipy==1.9.3
six==1.16.0
tomli==2.0.1
traitlets==5.7.0
