---
import IndicadorMainDashboard from "./IndicadorMainDashboard.astro";
import data from "../../data/dashboards/datos_barra_cajas.json";
import Grafico from "../Grafico";
import plotAndTitle from "../../data/plots/sunburst_rubros_usos_mensual.json";
import IcaBar from "./IcaBar.astro";
import ArrowDown from "../../icons/ArrowDown.astro";
import ArrowUp from "../../icons/ArrowUp.astro";
import Curve from "./Curve.astro";
const {
    monthly: { x: monthlyX, m: monthlyM },
    accumulated: { x: accumX, m: accumM },
} = data.boxes;
const IcaVariation = 7.4;
---

<div class="flex flex-col lg:flex-row lg:h-60">
    <IcaBar className="mb-2 lg:w-1/8 lg:mb-0" />
    <div class="grid grid-rows-3 lg:grid-cols-3 lg:grid-rows-1 w-full">
        <div id="sunburst" class="flex justify-center items-center">
            <div
                class="relative overflow-hidden h-60 w-60 flex justify-center items-center"
            >
                <Grafico
                    plotData={{
                        data: [
                            {
                                values: [accumX.amount, accumM.amount],
                                labels: ["Exportaciones", "Impoortaciones"],
                                name: "Intercambio comercial argentino",
                                textinfo: "none",
                                hoverinfo: "label+value+percent",
                                hole: 0.65,
                                type: "pie",
                                rotation: -90,
                                marker: { colors: ["#fbbf24", "#a78bfa"] },
                            },
                        ],
                        layout: {
                            showlegend: false,
                            margin: { t: 0, b: 0, l: 0, r: 0 },
                            paper_bgcolor: "transparent",
                        },
                    }}
                    divClassName={"h-full w-full"}
                    client:only
                />
                <div
                    class="absolute bg-white rounded-full left-1/6 top-1/6 -z-10 w-2/3 h-2/3 flex justify-center items-center flex-col"
                >
                    <p class="text-xs text-center font-semibold">
                        Intercambio comercial argentino
                    </p>
                    <p class="text-2xl text-center font-bold">
                        {accumX.amount.toFixed(0)}
                    </p>
                    <p class="text-xs">millones de dólares</p>
                    <div
                        class:list={[
                            "flex font-semibold",
                            IcaVariation < 0
                                ? "text-red-700"
                                : "text-green-700",
                        ]}
                    >
                        <span class="flex items-center"
                            >{
                                IcaVariation < 0 ? (
                                    <ArrowDown className="h-4 fill-red-700" />
                                ) : (
                                    <ArrowUp className="h-4 fill-green-700" />
                                )
                            }</span
                        >
                        <span>{IcaVariation.toFixed(1)}%</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="count" class="flex flex-col items-stretch lg:flex-row">
            <div
                id="sum"
                class="h-1/6 w-3/4 mx-auto lg:w-1/8 lg:h-3/5 overflow-hidden my-auto grid grid-cols-3 grid-rows-1 lg:grid-rows-3 lg:grid-cols-1 lg:mr-2"
            >
                <Curve orientation={1} />
                <div
                    class="text-4xl text-center align-middle lg:pr-1/6 relative bottom-4 lg:bottom-0"
                >
                    +
                </div>
                <Curve orientation={2} />
            </div>
            <div
                id="indicators"
                class="w-full lg:w-3/4 flex lg:flex-col justify-around"
            >
                <IndicadorMainDashboard
                    className="bg-expo w-2/5 lg:w-full lg:mb-10"
                    data={accumX}
                    precision={0}
                >
                    Exportaciones
                </IndicadorMainDashboard>
                <IndicadorMainDashboard
                    className="bg-impo w-2/5 lg:w-full"
                    data={accumM}
                    precision={0}
                >
                    Importaciones
                </IndicadorMainDashboard>
            </div>
            <div
                id="substract"
                class="h-1/6 w-3/4 mx-auto lg:w-1/8 lg:h-3/5 overflow-hidden my-auto grid grid-cols-3 grid-rows-1 lg:grid-rows-3 lg:grid-cols-1 lg:ml-2"
            >
                <Curve orientation={3} />
                <div class="text-4xl text-center align-middle lg:pl-1/6">-</div>
                <Curve orientation={4} />
            </div>
        </div>
        <div id="balance" class="flex justify-center items-center">
            <div class="bg-balance rounded-full h-60 w-60 relative">
                <div
                    class="absolute bg-white rounded-full left-1/6 top-1/6 z-10 w-2/3 h-2/3 flex justify-center items-center flex-col"
                >
                    <p class="text-xs text-center font-semibold">
                        Saldo comercial
                    </p>
                    <p class="text-2xl text-center font-bold">
                        {(accumX.amount - accumM.amount).toFixed(0)}
                    </p>
                    <p class="text-xs">millones de dólares</p>
                </div>
            </div>
        </div>
    </div>
</div>
