---
import { bar } from "../../data/dashboards/datos_barra_cajas.json";
const { monthly: barMonthly, accumulated: barAccum } = bar;

export interface Props {
    className?: string;
}
const { className = "" } = Astro.props;
---

<!-- <div
    class:list={[
        "flex flex-col justify-center  lg:flex-row lg:items-stetch lg:justify-between",
        className,
    ]}
>
    <div class="lg:w-4 lg:h-full bg-blue-400"></div>
    <div class="lg:w-4 lg:h-full bg-red-400"></div>
    <div class="lg:w-4 lg:h-full bg-green-400"></div>
</div> -->
<div
    class:list={[
        "flex flex-col w-full lg:flex-row lg:items-stetch lg:justify-between",
        className,
    ]}
>
    <div
        class="hidden lg:block w-1/6 h-full text-center rotate-180 text-xl font-bold"
        style="writing-mode: vertical-lr;"
    >
        Noviembre
    </div>
    <div class="lg:hidden w-full h-1/6 text-center text-xl font-bold">
        Noviembre
    </div>
    <div class="flex lg:flex-col w-full">
        <div
            class="w-expo h-full lg:w-full lg:h-expo flex flex-col justify-center items-center"
        >
            <p class="text-2xl font-semibold">
                {
                    Number(
                        (barMonthly.xPercentage * 100).toFixed(1)
                    ).toLocaleString("es-AR")
                }%
            </p>
            <p class="">Exportaciones</p>
        </div>
        <div
            class="w-expo h-full lg:w-full lg:h-expo flex flex-col justify-center items-center"
        >
            <p class="text-2xl font-semibold">
                {
                    Number(
                        (barMonthly.mPercentage * 100).toFixed(1)
                    ).toLocaleString("es-AR")
                }%
            </p>
            <p class="">Importaciones</p>
        </div>
    </div>
    <div class="flex w-full h-2 lg:flex-col lg:h-full lg:w-1/8">
        <div
            class="bg-expo w-expo h-full lg:w-full lg:h-expo align-middle text-center"
        >
        </div>
        <div
            class="bg-impo w-expo h-full lg:w-full lg:h-expo align-middle text-center"
        >
        </div>
    </div>
</div>
