---
import ArrowDown from "../../icons/ArrowDown.astro";
import ArrowUp from "../../icons/ArrowUp.astro";

export interface Props {
    data: {
        amount: number;
        variation?: number;
        isBalance?: boolean;
    };
    className: string;
}

const {
    data: { amount, variation, isBalance = false },
    className,
} = Astro.props;
---

<div
    class:list={["w-1/4 h-full rounded-md shadow-md px-4 pt-2 pb-4", className]}
>
    <h4 class="font-semibold text-center"><slot /></h4>
    <div class="font-semibold">
        <p class="text-lg text-center">{amount.toLocaleString("es-AR")}</p>
        <p class="text-sm text-center">millones de dólares</p>
    </div>
    {
        variation && (
            <div class="px-2 flex justify-center">
                <span>
                    {variation < 0 ? (
                        <ArrowDown className={"h-6"} />
                    ) : (
                        <ArrowUp className={"h-6"} />
                    )}
                </span>
                <p>{variation.toLocaleString("es-AR")}%</p>
            </div>
        )
    }
</div>
