---
import Grafico from "../Grafico";
import plotAndTitle from "../../data/plots/sunburst_rubros_usos_mensual.json";
import IndicadorMainDashboard from "./IndicadorMainDashboard.astro";
import data from "../../data/dashboards/datos_barra_cajas.json";
import Count from "./Count.astro";
import IcaBar from "./IcaBar.astro";

const {
    monthly: { x: monthlyX, m: monthlyM },
    accumulated: { x: accumX, m: accumM },
} = data.boxes;

const { monthly: barMonthly, accumulated: barAccum } = data.bar;
---

<Count />
<div
    class="w-full md:h-screen py-8 -my-6 overflow-hidden grid grid-rows-7 grid-cols-1 md:grid-rows-5 min-h-[575px]"
>
    <div class="row-span-4 w-full md:row-span-4">
        <h3 class="font-semibold text-lg text-center">{plotAndTitle.title}</h3>

        <Grafico
            plotData={plotAndTitle.plot}
            divClassName={"w-full h-3/4 mx-auto"}
            client:only
        />
        <IcaBar />
    </div>
    <div
        class="w-full row-span-3 flex flex-col justify-around items-center md:flex-row md:items-stretch md:row-span-1"
    >
        <IndicadorMainDashboard data={monthlyX} className="bg-expo">
            Exportaciones
        </IndicadorMainDashboard>
        <IndicadorMainDashboard
            data={{ amount: monthlyX.amount - monthlyM.amount }}
            className={"bg-balance"}
        >
            Saldo
        </IndicadorMainDashboard>

        <IndicadorMainDashboard data={monthlyM} className={"bg-impo"}>
            Importaciones
        </IndicadorMainDashboard>
    </div>
</div>
