---
import Tab from "../components/tab.astro";
import Layout from "../layouts/Layout.astro";
import Tabs from "../layouts/Tabs.astro";
import TabsContent from "../layouts/TabsContent.astro";

const tabsId = "tabs";

---

<Layout title="Síntesis">
    <main>
        <h1>Síntesis de los resultados</h1>
        <Tabs id={tabsId}>
            <Tab defaultTab={true} contentRef="uno">Hola</Tab>
            <Tab contentRef="dos">Chau</Tab>
        </Tabs>
        <!-- Tab Contents -->
        <TabsContent tabsId={tabsId}>
            <div id="uno" class="p-4">{tabsId}</div>
            <div id="dos" class="hidden p-4">Dos</div>
        </TabsContent>
        
    </main>
</Layout>
