---
import Hamburguer from "./Hamburguer.astro";
import Navigation from "./Navigation.astro";

const pages: object = {
    Síntesis: "/index.html",
    Exportaciones: "/expo.html",
    Importaciones: "/impo.html",
};
---

<header>
    <nav>
        <div
            class="px-4 h-12 bg-gray-100 border-b border-gray-200 flex items-center justify-between"
        >
            <a href="/" class="h-full flex items-center"
                ><h1 class="font-semibold text-lg text-gray-500">
                    Intercambio comercial argentino
                </h1>
            </a>
            <Hamburguer menuId="collapsibleHeader" id="hamburguer" />
            <Navigation pages={pages} />
        </div>
        <ul
            class="h-0 border-b border-gray-300 bg-gray-200 overflow-hidden origin-top duration-300 scale-y-0 md:hidden"
            id="collapsibleHeader"
        >
            {
                Object.keys(pages).map((page) => (
                    <li class="w-full h-full border-b border-gray-600 hover:bg-gray-300">
                        <a href={pages[page]} class="inline-block w-full">
                            <p class="my-5 px-5 block">{page}</p>
                        </a>
                    </li>
                ))
            }
        </ul>
    </nav>
</header>
