---
export interface Props {
    title: string;
    mainHeader?: string;
}

const { title, mainHeader = title } = Astro.props;
import Footer from "../components/Footer.astro";
import Header from "../components/header/Header.astro";
import Main from "./Main.astro";
---

<!DOCTYPE html>
<html lang="es" class="font-sans bg-white">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/png" href="/favindec.png" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <Header />
    <body class="w-screen">
        <Main>
            <h2 class="text-4xl font-semibold my-4 self-start">
                {mainHeader}
            </h2>
            <slot />
        </Main>
    </body>
    <Footer />
</html>
